<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_UX67_CR0,0,67,98_AL_.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Homem-Aranha: Sem Volta Para Casa</h1>
            <p>Em Breve</p>
            <p>Ação, Aventura</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>99%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/h5UzYZquMwO9FVn15R2eK2itmHu.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Venom: Tempo de Carnificina</h1>
            <p>30 de set de 2021</p>
            <p>Ação, Aventura</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>99%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/ArrOBeio968bUuUOtEpKa1teIh4.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Shang-Chi e a Lenda dos Dez Anéis</h1>
            <p>01 de set de 2021</p>
            <p>Ação, Aventura</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>99%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
